/*************************Main document CSS******************************/
body
{
	background-image: url('noisy_net.png');
	font-family: 'Open Sans', sans-serif;
	color: #eaeded;
	padding: 0;
	margin:0;
	height:40em;
}

html
{
	min-height:100%;
	position:relative
}

.inline-item
{
	display: inline-block;
}

.caption
{
	font-size:0.8em;
}

a
{
	text-decoration: none;
	color: white;
}
/*************************************************************************/

/***************************Title & Seperaters****************************/
#title
{
	font-size:5em;
	padding: 0.15em;
	margin: 0 0 0 0;
	opacity: 0;
	text-align: center;
	background-image: url('squairy_light.png');
	color: black;
	font-family: 'Play', sans-serif;
}

#title-sub
{
	font-size:2.2em;
	margin-left:2.5em;
}

#vertical-sep
{
	border-right: solid white;
	position: fixed;
	height: 100%;
	width: 16%;
	top:0;
	bottom:0;
}

#horizontal-sep
{
	font-size:3em;
	position: absolute;
	width: 100%;
	border-top: solid white;
}
/*************************************************************************/

/*****************************Side Menu***********************************/
#menu
{
	width:16%;
	font-size:1.6em;
	padding-top:11%;
	background-image: url('original.jpeg');
	height:100%;
	opacity: 0;
	font-family: 'Oswald', sans-serif;
}
	#menu a
	{
		color:black;
	}
	#about, #team, #prototype
	{
		margin-top:2em;
		display:block;
		float:right;
		margin-right:2em;
	}
	#about
	{
		width: 2.8em;
		margin-left: 5.2em;
	}
	#team
	{
		width: 2.6em;
		margin-left: 5.4em;
	}
	#prototype
	{
		width: 4.5em;
		margin-left: 3.5em;
	}
/*************************************************************************/

/*****************************Main Content********************************/
#main
{
	width: 100%;
	height: 100%;
}
#main > div
{
	float:left;
}
	#content
	{
		width:75%;
		padding: 1em;
		min-height: 100%
	}
		#about-tab, #team-tab, #prototype-tab
		{

		}
			#about-tab
			{				
				text-align: justify;
			}
			#about-tab div p{
				margin-left:14em;
			}

				#about-tab img
				{
					float:left;
				}
			#prototype-tab
			{
				text-align: justify;
			}
				#prototype-tab iframe
				{
					margin-top:2em;
					margin-right: auto;
					margin-left: auto;
					display:block;
				}
				.add-icon-container
				{
					margin-top:4em;
					margin-right:1em;
					margin-left: 1em;
				}
				#components
				{
					margin-right:auto;
					margin-left:auto;
					width:41.2em;
					height: 13em;
				}
				#components > div
				{
					float:left;
				}
				.component-icon
				{
					width:10em;
				}
				.add-icon
				{
					width:3em;
				}
				.img-with-text 
				{
				    text-align: justify;
				    width: 10em;
				}

				.img-with-text img 
				{
				    display: block;
				    margin: 0 auto;
				}
				.img-with-text p
				{
					text-align: center;
				}
					#white-cane
					{
						margin: 4em 0 0 0;
					}
					#guide-dog
					{
						margin: 4em 0 1em 0;
					}
			#team-tab
			{

			}
				#names-sub-menu, #description
				{
					margin-top:1%;
				}
				#names-sub-menu
				{
					width: 15em;
					float:left;
					margin-right:1em;
					margin-left: 2em;
				}
				#team-tab img
				{
					width:65%;
					height:auto;
					float:left;
				}				
					#names-sub-menu > div
					{
						margin-top:1.5em;
						display: none;
						font-size:1.1em;
					}
						#sho
						{
							width:7.8em;
						}
						#suk
						{
							width:7.6em;
						}
						#amin
						{
							width:9.8em;
						}
						#faiz{
							width:6.5em;
						}
						#tom{
							width:6.1emem;
						}
						#char
						{
							width:7.8em;
						}
						#full-description
						{
							margin-top:10%;
							text-align: justify;
						}
	#slider
	{
		width:2em;
		margin-top:11%;
	}
		#arrow
		{
			position: relative;
			opacity: 0;
		}
/*************************************************************************/
