/*************************Main document CSS******************************/
body
{
	background-image: url('noisy_net.png');
	font-family: 'Open Sans', sans-serif;
	color: #eaeded;
	padding: 0;	
	position: relative;
}

body, html
{
	/*height: 100%;*/
}

.inline-item
{
	display: inline-block;
}

.caption
{
	font-size:0.8em;
}
/*************************************************************************/

/***************************Title & Seperaters****************************/
#title
{
	font-size:5em;
	padding: 0px;
	margin: 0 0 0 5.5em;
	opacity: 0;
}

#title-sub
{
	font-size:2.2em;
	margin-left:2.5em;
}

#vertical-sep
{
	border-right: solid white;
	position: absolute;
	height: 100%;
	width: 14em;
	top:0;
	bottom:0;
}

#horizontal-sep
{
	font-size:3em;
	position: absolute;
	width: 100%;
	border-top: solid white;
}
/*************************************************************************/

/*****************************Side Menu***********************************/
#menu
{
	width:10em;
	text-align: right;
	font-size:1.4em;
	margin-top:11%;
}
	#about, #team, #prototype
	{
		margin-top:2em;
	}
	#about
	{
		width: 2.8em;
		margin-left: 5.2em;
	}
	#team
	{
		width: 2.6em;
		margin-left: 5.4em;
	}
	#prototype
	{
		width: 4.5em;
		margin-left: 3.5em;
	}
/*************************************************************************/

/*****************************Main Content********************************/
#main
{
	display: inline-flex;
	width: 100%;
}
	#content
	{
		width:70%;
		padding: 1em;
		height:35em;
	}
		#about-tab, #team-tab, #prototype-tab
		{

		}
			#about-tab
			{				
				text-align: right;
			}
				#about-tab img
				{
					float:left;
				}
			#prototype-tab
			{
				text-align: justify;
			}
				#prototype-tab iframe
				{
					margin-top:1em;
					margin-right: auto;
					margin-bottom: 1em;
					margin-left: auto;
					display:block;
				}
					#white-cane
					{
						margin: 4em 0 0 0;
					}
					#guide-dog
					{
						margin: 4em 0 1em 0;
					}
			#team-tab
			{

			}
				#names-sub-menu, #description
				{
					margin-top:8%;
				}
				#names-sub-menu
				{
					width: 15em;
					float:left;
					margin-right:1em;
					margin-left: 2em;
				}
				#team-tab img
				{
					width:55%;
					height:auto;
					float:left;
				}				
					#names-sub-menu > div
					{
						margin-top:1.5em;
						display: none;
						font-size:1.1em;
					}
						#sho
						{
							width:7.8em;
						}
						#suk
						{
							width:7.6em;
						}
						#amin
						{
							width:9.5em;
						}
						#faiz{
							width:6.5em;
						}
						#tom{
							width:6.1emem;
						}
						#char
						{
							width:7.8em;
						}
						#full-description
						{
							margin-top:18%;
							text-align: justify;
						}
	#slider
	{
		width:2em;
		margin-top:11%;
	}
		#arrow
		{
			position: relative;
			opacity: 0;
		}
/*************************************************************************/
